
body {
	
	background-color:#FFE4E1;
	
}

h1 {
	text-align:left;
	color:#6A5ACD;
	font-family:Cursive;
}

p {
	text-align:left;
	color:#C71585;
	font-family:Serif;
	font-size:20px;
	border-style:solid;
	padding:5px;
}

dl {
	text-align:left;
	color:#C71585;
	font-family:Serif;
	font-size:19px;
	background:#FFB6C1;
	padding:20px;
	border-style:solid;
}

dt {
	background:#FFE4E1;
	padding:5px;
	margin-left:5px;
	border-style:double;
}

dd {
	background:#FFE4E1;
	padding:5px;
	margin-left:5px;
	border-style:double;
	font-size:15px;
	color:#9370DB;
}

ul {
	text-align:left;
	color:#C71585;
	font-family:Serif;
	font-size:19px;
	background:#FFB6C1;
	padding:20px;
	border-style:solid;
}

ul li {
	background:#FFE4E1;
	padding:5px;
	margin-left:5px;
	border-style:double;
}

img {
	display:block;
	margin-left:auto; 
	margin-right:auto;
	width: 900px;
	height: 300px;
	border-style:outset;
}

iframe {
	display:block;
	margin-left:auto; 
	margin-right:auto;
	border-style:outset;
}

a {
    color: hotpink;
}


.tooltip {
  
  display:inline-block;
  border:2px solid #C71585;
}

.tooltip .tooltiptext {
  visibility:hidden;
  width:300px;
  background-color:#808080;
  color:#FFE4E1;
  text-align:left;
  border-radius:6px;
  padding:5px 0;
  position:absolute;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}








